.Calendar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.Calendar:hover {
    cursor: grab;
}

.Calendar-previous {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height:7em;
}

.Calendar-next {
    height:7em;
}


.Calendar-current {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

.Calendar-current * {
  display: block;
  width: 100%;
  font-family: 'Verdana', sans serif;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
 
}

.Calendar-current strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #ffb51d;
  border-bottom: 1px dashed #1db954;
  box-shadow: 0 2px 0 #ffb51d;
}

.Calendar-current em
{
  position: absolute;
  bottom: 0.3em;
  color: #ffb51d;
}


.Calendar-current span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #ffb51d;
}