.Tag {
    text-align: 'center';
    border-radius: 10px;
    border: 0.4em solid #b2b2b2;
    padding: 0.5em;
    font-weight: bold;
    margin: 1em;
    color: #716e6e;
}

.Tag:hover {
    cursor: grab;
}
